<p>Hello I'm <strong>{{userObj.userName}} </strong> and this is my id  <strong>{{userObj.userId}}</strong> and email <strong>{{userObj.userEmail}}</strong></p>


<!--  ABSOLUTE ROUTING -->
<!-- <button mat-raised-button color="primary"
[routerLink]="['/users',userObj.userId,'editUser']">
   Edit User Details
</button> --> 

<!-- RELATIVE ROUTING -->
<div class="text-right">
   
<button mat-raised-button color="primary" class="mr-2"
(click)="onEditUser()">
   Edit User Details
</button> 

<button mat-raised-button color="accent"
(click)="onRemoveUser()">
   remove User
</button> 
</div>



<!-- If want routing in template -->
<!-- [routerLink]="['editUser']"
[queryParamsHandling]="'preserve'"  --> 




<!-- <button mat-raised-button color="primary"
[routerLink]="['/users', 1]"
>click on Monika</button> -->
