<div class="row">
    <div class="col-md-8">
        <p class="alert alert-success mt-4" *ngIf="!canEdit" >
            This product can not be Returned !!!
        </p>
        <div class="form-group" >
            <label for="pname">Product Name</label>
            <input type="text" 
             #pname [value]="productObj?productObj.pName:''" 
             id="pName" class="form-control"
             [disabled]="!canEdit">
        </div>
        <div class="form-group">
            <label for="pstatus">Product Status</label>
            <select id="pstatus" [disabled]="!canEdit" #pstatus [value]="productObj?productObj.pStatus:''" class="form-control">
                <option value="In Progress"  id="inprogress">In Progress</option>
                <option value="Dispatched"  id="dispatched">Dispatched</option>
                <option value="Delivered"  id="delivered">Delivered</option>
            </select>
        </div> 

       <ng-template *ngIf="canEdit">
        <div class="text-right" >
            <button class="mr-2" #canEdit *ngIf="canEdit"   mat-raised-button color="accent"
                (click)="onUpdatePrdct(pname,pstatus)"
               >Update product
            </button>
        </div>
       </ng-template>
       <div class="text-right" >
            <button class="btn btn-info" 
                    
            (click)="onAddPrd(pname,pstatus)">
                Add Products
            </button>
        </div>    
    </div>
</div>


