<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="form-group">
            <label for="pname">Product Name</label>
            <input type="text" #pname [value]="productObj.pName" id="pName" class="form-control">
        </div>
        <div class="form-group">
            <label for="pstatus">Product Status</label>
            <select id="pstatus" #pstatus [value]="productObj.pStatus" class="form-control">
                <option value="In Progress"  id="inprogress">In Progress</option>
                <option value="Dispatched"  id="dispatched">Dispatched</option>
                <option value="Delivered"  id="delivered">Delivered</option>
            </select>
        </div> 
        <div class="text-right">
            <button class="mr-2" mat-raised-button color="accent"
                (click)="onUpdatePrdct(pname,pstatus)"
                >Update product
            </button>
        </div>
    </div>
</div>


