<div class="row">
    <div class="col-md-4">
        <ul class="list-group mt-4">
            <li class="list-group-item" 
            [routerLink]="['/users', user.userId]"
            [queryParams]="{canEditUser : user.userRole}"
            *ngFor="let user of userInfo"
            (click)="selectedUserId = user.userId"
            [ngClass]="{active : selectedUserId === user.userId}"
            >
                {{user.userName}}
           
            </li>
        </ul>
        <button mat-raised-button class="m-2" color="accent"
            [routerLink]="['/users', 'addUsers']"
            >
             Add Product details
        </button> 
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>
