
<div class="row">
    <div class="col-sm-8 offset-sm-2">
      
        <div class="form-group">
            <label for="Uname">User Name</label>
            <input type="text" [disabled]="!canEditUser" #uname [value]="userObj? userObj.userName:''" id="uName" class="form-control">
        </div>
        <div class="form-group">
            <label for="Uname">User Email</label>
            <input type="text" [disabled]="!canEditUser" #uemail [value]="userObj?userObj.userEmail:''" id="userEmail" class="form-control">
        </div>
        <div class="form-group">
            <select name="role" id="role" class="form-control" [disabled]="!canEditUser"
            #userRole [value]="userObj?userObj.userRole:''"
            >
                <option value="Admin">
                    Admin
                </option>
                <option value="users">
                    Users
                </option>

            </select>
        </div>
      
        
        <div class="text-right">
            <button class="mr-2" mat-raised-button color="accent"
            [disabled]="!canEditUser"
            *ngIf="userId"
            (click)="onUpdatUser(uname.value,uemail.value)"
            >Update User
            </button>
            <button class="btn btn-info" 
            *ngIf="!userId"
            (click)="onAddUsers(uname,uemail,userRole)">
                Add Users
            </button>

        </div>
    </div>
</div>

<!-- {{userObj | json}} -->

